<section>
 
   
   <div class="klaviyo-form-SUj63C"></div>
</section>

{% schema %}
  {
    "name": "Klaviyo Form",
    "settings": [],
    "presets": [{
      "name":"Klaviyo Form"
}
    ]
  }
  
{% endschema %}